@use "styles/variables" as *;

.app {
  width: 100%;
  height: 100%;

  padding: 2rem;

  .app__section {
    width: 100%;
    height: 100%;

    border: 0.4rem solid black;
    border-radius: $radius-lg;
  }
}
